#header {
  position: relative;
  height: 90vh;
}
#resize_header {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 95vw;
}
#img_logo {
  height: 100%;
  float: left;
}
#header_text {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
#header_text.thin {
  flex-direction: column;
  justify-content: flex-end;
}
#header_text.wide {
  flex-direction: row;
  justify-content: center;
}
#site_signature {
  order: 1;
  flex-grow: 1;
  font-family: 'Aladin';
  text-align: center;
  color: #193655;
  text-shadow: 4px 4px 4px #aaa;
  transition: all 0.5s;
}
#site_signature.thin {
  text-align: center;
  padding-top: 15vh;
}
#site_signature.wide {
  text-align: left;
  padding-left: 1rem;
}

#site_slogan {
  order: 2;
  flex-grow: 1;
  font-family: 'Aldrich';
  text-align: center;
  color: #193655;
  text-shadow: 1px 1px 1px #aaa;
  transition: all 0.75s;
}
#site_slogan.thin {
  text-align: center;
}
#site_slogan.wide {
  text-align: right;
  vertical-align: middle;
}

#middle_bar {
  height: 10vh;
}
#panels {
  background-color: white;
  height: 75vh;
  display: flex;
  font-size: 6rem;
}
#panelLeft {
  background-color: rgb(233, 169, 169);
  height: 100%;
  width: 33%;
}
#panelMid {
  background-color: lightgreen;
  height: 100%;
  width: 33%;
}
#panelRight {
  background-color: rgb(169, 202, 233);
  height: 100%;
  width: 33%;
}

body {
  font-family: 'Aldrich';
  background-color: #e6f2fe;
}

#footer {
  background-color: bisque;
  text-align: center;
  vertical-align: center;
  height: 5vh;
}
